<h1>DIEGO COHEN</h1>
<!-- <a href="/" class="logo"><img src="logo15.png"></a> -->
<div class="navbar group">
	<ul>
		<li><a href="https://vimeo.com/user15685227" target="_blank">vimeo</a></li>
		<li><a href="https://www.youtube.com/user/dgcohen4" target="_blank">youtube</a></li>
		<li><a href="https://twitter.com/DGCOHEN1" target="_blank">twitter</a></li>
		<li><a href="mailto:dgcohen4@gmail.com" target="_blank">email</a></li>
	</ul>
</div>

<div class="background-image">
	<img src="background2.png" class="image1">
	<img src="background1.png" class="image2">
</div>

<ul class="videos group">

	<li>
		<iframe src="//player.vimeo.com/video/107428210" frameborder="0" webkitallowfullscreen 		     			mozallowfullscreen allowfullscreen></iframe>
	</li>

	<li><iframe src="//player.vimeo.com/video/107419967" frameborder="0" webkitallowfullscreen 				mozallowfullscreen allowfullscreen></iframe>
	</li>

	<li><iframe src="//player.vimeo.com/video/107406045" frameborder="0" webkitallowfullscreen 			mozallowfullscreen allowfullscreen></iframe>
	</li>
</ul>