<!-- <a href="/"><h1>DG COHEN</h1></a> -->
<a href="/" class="logo"><img src="logo.png"></a>
<div class="navbar group">
	<ul>
		<li><a href="https://vimeo.com/user15685227" target="_blank">vimeo</a></li>
		<li><a href="https://www.youtube.com/user/dgcohen4" target="_blank">youtube</a></li>
		<li><a href="https://twitter.com/DGCOHEN1" target="_blank">twitter</a></li>
		<li><a href="mailto:dgcohen4@gmail.com" target="_blank">email</a></li>
	</ul>
</div>

<div class="background-image">
	<img src="background2.png" class="image1">
	<img src="background1.png" class="image2">
</div>

<ul class="videos group">

	<li>
		<iframe src="//player.vimeo.com/video/107428210" frameborder="0" webkitallowfullscreen 		     			mozallowfullscreen allowfullscreen></iframe>
			<p><a href="http://vimeo.com/107428210" target="_blank">David Kanaga - Start Mush (Software Records)</a></p>
	</li>
	
	<li>
		<iframe src="//www.youtube.com/embed/djYbOn0lJEs" frameborder="0" webkitallowfullscreen 
		 	mozallowfullscreen allowfullscreen></iframe>
			<p><a href="https://www.youtube.com/watch?v=djYbOn0lJEs" target="_blank">C. Spencer Yeh / Okkyung Lee / Lasse Marhaug - Wake Up Awesome (Software Records)</a></p>
	</li>

	<li><iframe src="//player.vimeo.com/video/107419967" frameborder="0" webkitallowfullscreen 				mozallowfullscreen allowfullscreen></iframe>
		<p><a href="http://vimeo.com/107419967" target="_blank">Gardland - Syndrome Syndrome (RVNG Intl.)</a></p>
	</li>
	
	<li>
	<iframe src="//www.youtube.com/embed/5yt7kddpLQc" frameborder="0" webkitallowfullscreen 
	   mozallowfullscreen allowfullscreen></iframe>
		 <p><a href="https://www.youtube.com/watch?v=5yt7kddpLQc" target="_blank">Ñaka Ñaka - 000020 (Opal Tapes)</a></p>
	</li>

	<li><iframe src="//player.vimeo.com/video/107406045" frameborder="0" webkitallowfullscreen 			mozallowfullscreen allowfullscreen></iframe>
		<p><a href="http://vimeo.com/107406045" target="_blank">Pete Swanson - Grounds For Arrest (Software Records)</a></p>
	</li>
</ul>