html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

a {
	color: #eee;
	text-decoration: none;
}

body {
	font-family: sans-serif;
	background: black;
}


.group:after {
  content: "";
  clear: both;
  display: block;
}

h1 {
	font-family: serif;
	display: block;
	text-align: center;
	font-style: italic;
	font-size: 80px;
	margin-top: 40px;
	font-weight: 100;
}

.logo > img {
	display: block;
	margin: auto;
	max-width: 40%;
	min-width: 450px;
	margin-top: 50px;
}


.background-image {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.navbar {
	width: 523px;
	margin: auto;
	margin-top: 15px;
}

.navbar > ul > li {
	float: left;
}

.navbar > ul > li > a {
	font-family: monospace;
	font-size: 14px;
	padding: 20px 40px;
}

.navbar > ul > li > a:hover {
	color: #777;
}

.image1 {
	position: fixed;
	z-index: -300;
  -ms-transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
  transform: rotate(80deg);
	opacity: .5;
	min-width: 300%;
	margin-left: -2500px;
	margin-top: -1050px;
}

.image2 {
	position: fixed;
	z-index: -450;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
	opacity: .5;
	min-width: 300%;
	margin-left: -1200px;
	margin-top: -1650px;
}

.videos {
	margin-top: 100px;
}

.videos > li > iframe{
	margin: auto;
	margin-bottom: 280px;
}

iframe {
	display: block;
	width: 800px;
	height: 450px;
}